@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body,
div {
  font-family: 'Poppins', sans-serif;
}

.none {
  display: none;
}
.color {
  background-color: #fff !important;
  color: #000 !important;
  transition: 0.2s all ease;
}

.color p {
  color: #000 !important;
}

.open {
  display: block;
}
.openWork {
  display: block !important;
  background-color: #fff !important;
  color: #000 !important;
}
